[user]
  email = nickerous@gmail.com
  name = nlicitra
[core]
  editor = vim
[alias]
  acoma = !git add -A && git commit -m
  dunzo = !git checkout master && git pull origin master && git branch -D $(git rev-parse --abbrev-ref @{-1})
